<app-navbar></app-navbar>
<div class="container">
    <h2 class="title fontSignika">Archivos subidos </h2>
    <h3 *ngIf="proyectos.length ==0">No hay ingestas realizadas, para ingresar un proyecto haz click <a [routerLink]="'/realizar-ingesta'"  class="links fontUbuntu" >aquí</a></h3>
    <div class="proyectos">
        <div *ngFor="let proyecto of proyectos">
            <div>
                <app-proyecto-preview [proyecto]="proyecto"></app-proyecto-preview>
            </div>
        </div>
    </div>
</div>
