<app-navbar></app-navbar>
<div class="productForm container">
    <h2 class="title">Descarga</h2>
    <form class="fontUbuntu" #proyectoForm="ngForm" (ngSubmit)="onSubmit(proyectoForm)">
        <div>
            <label for="descripcion">Descripción de la descarga:</label>
            <!-- <textarea class="form-control" name="descripcion" type="text" #descripcion="ngModel" [(ngModel)]="descarga.descripcion"
            required></textarea> -->
            <textarea class="form-control" name="descripcion" type="text" [(ngModel)]="descripcion" ></textarea>
            <span *ngIf = "descripcion.length == 0" class="formError">Debes llenar este campo para descargar el archivo.</span>
            <!-- <span *ngIf="descripcion.touched && !descripcion.value" class="formError">Este campo es obligatorio</span> -->
        </div>
        <app-descarga [proyecto]="proyecto" *ngIf="descripcion.length>0"></app-descarga>
        <button (click)="onCancel()">Cancelar</button>
    </form>