<app-navbar></app-navbar>
<div class="productForm container">
    <h2 class="title fontUbuntu">Ingesta</h2>
    <div class="message Success" *ngIf="status =='Success'">El proyecto ha sido creado correctamente, puedes verlo <a
            [routerLink]="['/proyecto',proyectoGuardado._id]">AQUÍ</a></div>
    <div class="message Failed" *ngIf="status ==' Failed'"></div>
    <form class="fontUbuntu" #proyectoForm="ngForm" (ngSubmit)="onSubmit(proyectoForm)">
        <div>
            <label for="name">Nombre del proyecto:</label>
            <input class="form-control"  name="name" type="text" #nombre="ngModel" [(ngModel)]="proyecto.nombre">
            <span *ngIf="nombre.touched && !nombre.value" class="formError">Este campo es obligatorio</span>
        </div>
        <div>
            <label for="etiqueta">Agregar etiquetas:</label>
            <input class="form-control" name="etiqueta" type="text" #etiquetaA="ngModel" [(ngModel)]="etiquetaActual">
            <span *ngIf="etiquetas.length==0" class="formError">Este campo es obligatorio</span>
            <button class="btn btn-primary" (click)="addEtiqueta()" [disabled]="!etiquetaA.value">Agregar</button>
            
            <ul>
                <li *ngFor="let etiqueta of etiquetas" class="etiqueta" >
                        {{etiqueta}} 
                        <button  type="button" class="btn btn-danger" aria-label="Close" (click) = "deleteEtiqueta(etiqueta)">Eliminar</button>
                </li>
            </ul>
        </div>
        <div>
            <label for="descripcion">Descripción del proyecto:</label>
            <textarea class="form-control" name="descripcion" type="text" #descripcion="ngModel" [(ngModel)]="proyecto.descripcion"
                required></textarea>
            <span *ngIf="descripcion.touched && !descripcion.value" class="formError">Este campo es obligatorio</span>
        </div>
        <div>
            <label for="camarografo">Agregar camarógrafos:</label>
            <input class="form-control" name="camarografo" type="text" #camarografoA="ngModel" [(ngModel)]="camarografoActual">
            <span *ngIf="camarografos.length==0" class="formError">Este campo es obligatorio</span>
            <button class="btn btn-primary" (click)="addCamarografo()" [disabled]="!camarografoA.value">Agregar</button>
            <ul>
                <li *ngFor="let camarografo of camarografos" class="etiqueta" >
                        {{camarografo}} 
                        <button type="button" class="btn btn-danger" aria-label="Close" (click) = "deleteCamarografo(camarografo)">Eliminar</button>


                </li>
            </ul>
        </div>
        <div>
            <label for="Archivo">Archivo del proyecto:</label>
            <input class="form-control" name="Archivo" type="file" placeholder="Subir archivo" #archivo="ngModel" [(ngModel)]="proyecto.ubicacionArchivo"
                (change)="fileChangeEvent($event)" required>
            <span *ngIf="archivo.touched && !archivo.value" class="formError">Este campo es obligatorio</span>
        </div>
        <div>
            <label for="tipo">Tipo de archivo:</label>
            <select class="form-select" name="miselect" #tipoA="ngModel" [(ngModel)]="tipoSeleccionado"required>
                <option [ngValue]="tipo" *ngFor="let tipo of tipos">{{tipo}}</option>
            </select>
            <span *ngIf="tipoA.touched && tipoA.value == 0" class="formError">Este campo es obligatorio</span>
          </div>
          
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="submit" [disabled]="!ValidarDatos(proyectoForm)">Realizar Ingesta</button>

          <!-- Modal -->
          <div  class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Ingesta realizada</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p >El proyecto ha sido creado correctamente, puedes verlo en tus archivos subidos.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                  <!-- <button type="button" class="btn btn-primary">Entendido</button> -->
                </div>
              </div>
            </div>
          </div>
    </form>
</div>
