<div id="Inicio">
    <h2>Inicio de sesion</h2>
    <div class="cuadro" >
        <form #formulario>
          <div>
            <label for="Correo">Correo institucional</label>
            <input type="email" name="Correo" id="Correo_Institucional">
          </div>  
          <div>
            <label for="Contraseña">Contraseña</label>
            <input type="password" name="Contraseña" id="password">
          </div>  
          <button type="submit">Iniciar sesion</button>
        </form>

    </div>
    <label> No tienes una cuenta?  <a href="Registro">Registrate aquí</a></label>
</div>
<div id="EspacioFondo">
    <div id="FondoBloque9"> </div>
</div>