<app-navbar></app-navbar>
<div class="container">
    <h2 class="title fontSignika">Proyectos</h2>
    <div class=" fontUbuntu ">  
        <div class="father">
            <select class="form-label" name="selectBusqueda" #filtroProyecto="ngModel" [(ngModel)]="seleccionado"required>
                <option [ngValue]="filtro" *ngFor="let filtro of filtros">{{filtro.nombre}}</option>
            </select>
            <input class="form-control me-2 fontUbuntu buscador" arial-label="Search" type="search" placeholder="Buscar proyecto" 
                (keyup)="Loadproduct()" [(ngModel)]="search" [disabled]="seleccionado.valor<0">
        </div>
    </div>
    <h3 *ngIf="proyectos.length ==0">No hay ingestas realizadas, para ingresar un proyecto click <a [routerLink]="'/realizar-ingesta'"  class="links fontUbuntu" >aquí</a></h3>
    <div class="proyectos fontUbuntu">
        <div *ngFor="let proyecto of proyectos">
            <div>
                <app-proyecto-preview [proyecto]="proyecto"></app-proyecto-preview>
            </div>
        </div>
    </div>
</div>
