.buscador{
   width: 100%;
   margin-left: 1rem;
}

.form-label{
   width: 30%;
   margin-left:2%;
   height: 45px;
}

.textoBuscar{
  padding-left: 7%;
}
.father{
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-evenly;
}
.father::before {
   content: 'Buscar por:';
   font-weight: bold;
   padding-left: 5rem;
}

h2{
   margin-bottom: 1rem;
}