<app-navbar></app-navbar>
<div class="container fontUbuntu">
    <app-display-file [proyecto]="proyecto"></app-display-file>
    <div>
        <h3>Formato: {{proyecto.formato}}</h3>
    </div>
    <div>
        <h3>Tipo de archivo: {{proyecto.tipoArchivo}}</h3>
    </div>
    <div>
        <h3>Nombre: {{proyecto.nombre}}</h3>
    </div>
    <div>
        <h3>Creador: {{proyecto.creador}}</h3>
    </div>
    <div>
        <h3>Descripción del proyecto: {{proyecto.descripcion}}</h3>
    </div>
    <div>
        <h3>Etiquetas:</h3>
        <ul>
            <li *ngFor="let etiqueta of proyecto.etiquetas">
                <h4>{{etiqueta}}</h4>
            </li>
        </ul>  
    </div>
    <div>
        <h3>Camarógrafos:</h3>
        <ul>
            <li *ngFor="let Camarografo of proyecto.camarografos">
                <h4>{{Camarografo}}</h4>
            </li>
        </ul>  
    </div>
    <div>
        <h3>Número de descargas: {{proyecto.descargas}}</h3>
    </div>
    <div>
        <h3>Usos en las descargas:</h3>
        <ul *ngIf="proyecto.usosDescarga.length>0 else mensaje ">
            <li *ngFor="let uso of proyecto.usosDescarga">
                <h4>{{uso}}</h4>
            </li>
        </ul> 
        <ng-template #mensaje> Aún no ha sido descargado este proyecto</ng-template> 
    </div>
    <div>
        <h3>Fecha: {{proyecto.fechaCreacion}}</h3>
    </div>
    <div *ngIf="!confirm" class="fontUbuntu">
        <button [routerLink]="['/EditarProyecto',proyecto._id]" class="bttn-edit">Editar proyecto</button>
        <app-descarga [proyecto]="proyecto"></app-descarga>
        <button (click)="confirm=true" class="bttn-delete">Borrar proyecto</button>
    </div>
    <div *ngIf="confirm">
        <span class="confirmacion">¿ESTA SEGURO QUE DESEA ELIMINAR EL PROYECTO?</span>
        <button (click)="confirm = false" class="bttn-cancelar">Cancelar</button>
        <button (click)="eliminarProyecto(proyecto._id)" type="button" class="btn btn-danger fontUbuntu">ELIMINAR</button>

    </div>
</div>
