<app-navbar></app-navbar>
<div class="container">
    <h2 class="title fontSignika">Mis archivos:</h2>
    <h3 class="fontUbuntu" *ngIf="proyectos.length ==0">No hay ingestas realizadas, para ingresar un proyecto click <a [routerLink]="'/realizar-ingesta'"  class="links" >aquí</a></h3>
    <div class="proyectos">
        <div *ngFor="let proyecto of proyectos">
            <div>
                <app-proyecto-preview-panel [proyecto]="proyecto"></app-proyecto-preview-panel>
            </div>
        </div>
    </div>
    <h2 class="title fontSignika">Mis descargas:</h2>
    <h3 class="fontUbuntu"*ngIf="proyectosDescargas.length ==0" >Aún no se han realizado descargas</h3>
    <div  class="proyectos">
        <div *ngFor="let proyecto of proyectosDescargas">
            <div>
                <app-proyecto-preview-panel [proyecto]="proyecto"></app-proyecto-preview-panel>
            </div>

        </div>
    </div>
</div>

