#FondoBloque9{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    display: block;
    background-image:
    linear-gradient(180deg, rgba(140, 38, 75, 0.57) 50%, rgba(140, 38, 75, 0) 100%),
    url("../../Img/FotoBloque9.jpg");
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
}
#EspacioFondo{
    display: block;
    width: 50%;
    margin: 0;
    padding: 0;
    align-content: center;
    
}
.cuadro{

width: 40%;
height: 80%;
padding: 5%;
margin: 5%;
padding-bottom: 5%;
margin-left:27% ;
background-color: #FDFAFA;
border: 0.1rem solid #949494;
border-radius: 1rem;
}

#Inicio{
    display:grid;
    width: 50%;
    height:100%;
    gap: 1rem;
    background-color: white;
}
 label{
    display: block;
 }

 .btn-login{
    background-color: var(--lightBlue);
    margin-left: 18%;
 }
 h2{
    margin-top: 5%;
    margin-left: 32%;
 }

 .labelLogin{
    margin-left: 27%;
 }

