<div class="proyecto" (click)="verProyecto()">
  <app-display-file [proyecto]="proyecto"></app-display-file>
    <h3></h3>
    <div class="cardProyecto">
        <h3 >Nombre: {{proyecto.nombre}}</h3>
    </div>
    <div>
        <h3>Creador: {{proyecto.creador}}</h3>
    </div>
    <div>
        <h3>Formato: {{proyecto.formato}}</h3>
    </div>
    <div>
        <h3>Tipo: {{proyecto.tipoArchivo}}</h3>
    </div>
    <!-- <div>
        <h3>Etiquetas:</h3>
        <ul>
            <li *ngFor="let etiqueta of proyecto.etiquetas">
                <h4>{{etiqueta}}</h4>
            </li>
        </ul>  
    </div>
    <div>
        <h3>Fecha: {{proyecto.fechaCreacion}}</h3>
    </div> -->
    
</div>
